.logo { height: 32px; margin: 16px 23px; }
.logo span { margin-left: 10px; color: white; font-size: 18px; vertical-align: middle; }
.trigger { font-size: 18px; line-height: 64px; padding: 0 24px; cursor: pointer; transition: color 0.3s; }
.trigger:hover { color: #1890ff; }
.ant-layout-header { padding: 0; }
.ant-input { width: 500px; }
.ant-card-meta-title { font-size: 14px; }
.ant-avatar { width: 28px; height: 28px; }
.login-btn { float: right; margin: 16px 15px 0 0; }